.mat-card{
  background-color: rgba(0, 0, 0, 0.61);
}

.mat-h1, mat-card-title {
  color : white;
}

.mat-card-subtitle {
  color : aliceblue;
}


.cardHeader{
  position: center;
}

.bg {
  /* The image used */
  background-image: url("../../assets/bg.JPG");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
