
.header {
  position:-webkit-sticky;
  top:0;
  z-index:1000;
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: 120px;
}

.page-content{
  background: url(../assets/bg.JPG) no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: sticky;
  top: 0;

  box-sizing: border-box;
  height:280%;
  width: 100%;
  /*overflow: hidden;*/
}

.example-spacer {
  flex: 1 1 auto;
}

.logo {
  width: 24px;
  height: 24px;
  transform: scale(6);
  margin-left: 40px;
}

.club-name {
  margin-left: 100px;

}
