
.bg {
  /* The image used */
  background-image: url("../../assets/bg.JPG");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.container{
  max-width: 700px;
  margin-bottom: 60px;
  margin-left: 20px;
  margin-right: 20px;
  color : white;
}


.file-select-button, .file-name {
  display: inline-block;
  margin: 8px;
}
