/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body {
  height: 100%;
  background: url(./assets/bg.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/** Snackbar colors **/
.warning-snackbar {
  color: #ce353b;
}

.info-snackbar {
  color: #5fbb3a;
}

.mat-simple-snackbar-action {
  color: #ffffff;
}
