<div class="all">
  <!-- Title group  -->
  <div class="title-group">
    <h1 class="mat-h1">Liste des membres</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
  </div>
  <p *ngIf="allElementslength <= 0" class="no-data">
    Il n'y a pas encore de  membres !
  </p>
  <div class="container">
    <mat-form-field appearance="standard" >
      <mat-label>Filtrer</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Ahmed" #input>
    </mat-form-field>


      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >

        <!-- Actions Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell  *matHeaderCellDef > Actions </th>
          <td mat-cell *matCellDef="let row; let i = index" >
            <button mat-icon-button color="primary" (click)="deleteMember(row, i)" title="Supprimer membre"> <mat-icon>delete</mat-icon> </button>
            <!--<button mat-icon-button color="primary" (click)="editMember(row, i)" title="Modifier membre" > <mat-icon>edit</mat-icon> </button>-->
          </td>
        </ng-container>

        <!------------------------------------ client -------------------------------------------->

        <!-- nomClient Column -->
        <ng-container matColumnDef="nomClient">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
          <td mat-cell *matCellDef="let row"> {{row.nomClient}} </td>
        </ng-container>

        <!-- Prénom Column -->
        <ng-container matColumnDef="prenomClient">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
          <td mat-cell *matCellDef="let row"> {{row.prenomClient}} </td>
        </ng-container>

        <!-- adresse Column -->
        <ng-container matColumnDef="adresse">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Adresse </th>
          <td mat-cell *matCellDef="let row"> {{row.adresse}} </td>
        </ng-container>

        <!-- Ancienne activité sportive Column -->
        <ng-container matColumnDef="ancienneActSportive">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Activité </th>
          <td mat-cell *matCellDef="let row"> {{row.ancienneActSportive}} </td>
        </ng-container>

        <!-- date de naissance -->
        <ng-container matColumnDef="dateNaissance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de naissance </th>
          <td mat-cell *matCellDef="let row"> {{row.dateNaissance}} </td>
        </ng-container>

        <!--imgProfil Column -->
        <ng-container matColumnDef="imgProfil">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Image Du Profil </th>
          <td mat-cell *matCellDef="let row"><img src='{{"http://localhost:8080/images/" + row.imgProfilPath }}' width="150" height="150" (click)="openMember(row)"></td>
        </ng-container>

        <!-- Extrait De Naissance Column -->
        <ng-container matColumnDef="extraitNaissance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Extrait De Naissance </th>
          <td mat-cell *matCellDef="let row"><img src='{{"http://localhost:8080/images/" + row.extraitNaissancePath }}' width="100" height="100" ></td>
        </ng-container>


        <!------------------------------------ Père -------------------------------------------->

        <!-- nomPere Column -->
        <ng-container matColumnDef="nomPere">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom du père </th>
          <td mat-cell *matCellDef="let row"> {{row.nomPere}} </td>
        </ng-container>

        <!-- prenomPere Column -->
        <ng-container matColumnDef="prenomPere">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom du père </th>
          <td mat-cell *matCellDef="let row"> {{row.prenomPere}} </td>
        </ng-container>

        <!-- Email père  Column -->
        <ng-container matColumnDef="emailPere">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email du père </th>
          <td mat-cell *matCellDef="let row"> {{row.emailPere}} </td>
        </ng-container>

        <!-- phoneNumber père Column -->
        <ng-container matColumnDef="numTelPere">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tél. père </th>
          <td mat-cell *matCellDef="let row"> {{row.numTelPere}} </td>
        </ng-container>

        <!-- Travail père Column -->
        <ng-container matColumnDef="travailPere">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Travail du père </th>
          <td mat-cell *matCellDef="let row"> {{row.travailPere}} </td>
        </ng-container>

        <!--------------------------------------- Mère ------------------------------------------->

        <!-- nomMere Column -->
        <ng-container matColumnDef="nomMere">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom de la mère </th>
          <td mat-cell *matCellDef="let row"> {{row.nomMere}} </td>
        </ng-container>

        <!-- prenomMere Column -->
        <ng-container matColumnDef="prenomMere">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom de la mère </th>
          <td mat-cell *matCellDef="let row"> {{row.prenomMere}} </td>
        </ng-container>

        <!-- Email mère  Column -->
        <ng-container matColumnDef="emailMere">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email de la mère </th>
          <td mat-cell *matCellDef="let row"> {{row.emailMere}} </td>
        </ng-container>

        <!-- phoneNumber mère Column -->
        <ng-container matColumnDef="numTelMere">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tél. mère </th>
          <td mat-cell *matCellDef="let row"> {{row.numTelMere}} </td>
        </ng-container>

        <!-- Travail mère Column -->
        <ng-container matColumnDef="travailMere">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Travail de la mère </th>
          <td mat-cell *matCellDef="let row"> {{row.travailMere}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

  </div>
</div>
